.footer {
  box-sizing: border-box;
  background-size: cover;
  background-color: #0a2850;
  color: #ffffff;
  padding-top: 60px;
  padding-left: 80px;
  padding-bottom: 60px;
  padding-right: 80px;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__circle {
  position: absolute;
  margin-top: -180px;
  margin-left: -124px;
  margin-bottom: 100px;
  background-color: #2f80ed;
  height: 340px;
  width: 340px;
  border-radius: 50%;
  z-index: 0;
}

.footer__logo {
  position: absolute;
  width: 105px;
  height: 39px;
  z-index: 1;
}

.footer__columns {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__column_content_social {
  margin-left: 80px;
}

.footer__column-heading {
  margin-bottom: 20px;
}

.footer__list {
  /* El siguiente código elimina los estilos predeterminados del navegador para las listas */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-bottom: 16px;
  list-style-type: none;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.footer__copyright {
  margin-top: 100px;
  margin-left: 80px;
}
